.baseHOME{
    height: 300vh;

    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px){
    .baseHOME{
        height: 200vh;
    }
}

.apresentacao{
    height: 40%;
    max-width: 100vw;
    
    display: flex;
    flex-direction: column;
    
    background-image: url(../Home/foto/background-homeAnime.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

@media screen and (max-width: 500px){
    .apresentacao{
        height: 60%;
        
        align-items: center;
        justify-content: center;
        background-image: url(../Home/foto/background-responsive.jpg);
    }
}

.informacoes{
    height: 100%;
    width: 40%;

    margin-left: 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;

    
}


@media screen and (max-width: 500px){
    .informacoes{
        height: auto;
        width: 80%;
        
        text-align: center;
        align-items: center;

        margin-left: 0vw;

        color: white;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px){
    .informacoes{
        width: 60%;
        
        text-align: center;
        align-items: center;

        margin-left: 0vw;
    }
}

/*--------------------------------------*/

.diferenciais{
    height: 30%;
    max-width: 100vw;
    
    display: flex;
    flex-direction: column;
    
    background-image: url(../Home/foto/background-diffhome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    
}

@media screen and (max-width: 500px){
    .diferenciais{
        height: 40%;
        
        align-items: center;
        justify-content: center;
    }
}

.features{
    height: 90%;
    width: 50%;
    
    margin: 0vh 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;

    font-size: 100px;
    
}

@media screen and (max-width: 500px){
    .features{
        width: 80%;
        margin: 0vh 0vw;
        text-align: center;
    }
}

.title{
    color: orangered;
}

@media screen and (max-width: 500px){
    .title, .texto{
        font-size: 20px;
    }
}

/*----------------------------*/

.noticias{
    height: 30%;
    max-width: 100vw;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    background-image: url(../Home/foto/background-noticias.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

@media screen and (max-width: 500px){
    .noticias{
        height: fit-content;

        text-align: center;
    }
}

.rodape{
    height: 5%;

    background-color: darkgrey;
}