.baseLOG{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(240, 194, 110), white);
}

.corpoLOG{
    width: 40%;
    margin: 0 auto;
}

