.baseCAD{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(240, 194, 110), white);
}

.corpoCAD{
    width: 50%;
    margin: 0 auto;
}
