.baseAtr{
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: rgb(212, 212, 212);
    background-image: url(../Personagem/background/background_transparente.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed; 
}

@media screen and (max-width: 750px){
    .baseAtr{
        height: fit-content;
        align-items: center;
        background-image: url(../Personagem/background/background_transp_respons.png)

    }
}

.atribute{    
    width: 90vw;
    
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin: 10vh 0vw;
}

@media screen and (max-width: 750px){
    .atribute{
        align-items: center;
    }
}

.atributeselect{
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center; /*cross-axis*/
}

@media screen and (max-width: 750px){
    .atributeselect{
        width: 90vw;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.flex-column.nav.nav-pills{
    width: 10%;

    text-align: center;
}

@media screen and (max-width: 750px){
    .flex-column.nav.nav-pills{
        width: auto;
        
        margin: 3vh 0vw;
    }
    
}

.insidetab, .tab-content{
    height: fit-content;
    width: 90%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    margin-left: 5%;
}

@media screen and (max-width: 750px){
    .insidetab, .tab-content{
        width: auto;
        max-width: 80vw;

        margin-left: 0%;
        
        flex-direction: column;
        align-items: center;
    }
}


.info{
    height: fit-content;
    width: auto;
    max-width: 55%;
    
    display: flex;
    flex-direction: column;

    text-align: center;
}

@media screen and (max-width: 750px){
    .info{
        width: auto;
        max-width: 90vw;
    }
}

.text{
    width: inherit;

    display: flex;
    flex-direction: column;

    padding-bottom: 3%;

    font-size: medium;
    font-family: Bradley Hand, cursive;
}

.sideimage{
    height: 60vh;
    width: 20vw;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.img{
    border: 2px solid red;

    max-width: 20vw;
    max-height: 20vw;
}

@media screen and (max-width: 750px){
    .sideimage{
        width: auto;
        height: fit-content;

        margin: 3vh 0vw;
    }

    .img{
        max-width: 250px;
        max-height: 400px;
        
        width: 50vw;
        height: 80vw;
    }

}

.botoes{
    height: auto;
    width: auto;
    
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.btn.btn-sanger, .btn.btn-success{
    margin: 0vh 2vw;
}

@media screen and (max-width: 750px){
    .botoes{
        width: auto;
        justify-content: center;
    }

    .btn.btn-danger{
        margin: 5vw;
    }
    .btn.btn-success{
        margin: 5vw;
    }
}

