.baseHIST{
    height: fit-content;
    max-width: 100vw;

    display: flex;
    flex-direction: row;

    background-image: linear-gradient(rgb(240, 194, 110), white);
}

@media screen and (max-width: 900px){
    .baseHIST{
        flex-direction: column;
        align-items: center;
    }
}

.historia{
    width: 60%; 
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    margin: 10vh 4vw;

    font-size: larger;
    font-family: Bradley Hand, cursive;
}

@media screen and (max-width: 900px){
    .historia{
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-height: 500px){
    .historia{
        margin: 20vh 4vw;
    }
}

.quote{
    width: 75%;

    font-size: 50;
    text-align: right;
    color:orangered;
}

.sideimages{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10vh;

    padding: 20px;
}

@media screen and (max-width: 900px){
   .sideimages{
        margin-top: 0vh;
        padding: 0px;
        width: 50%;   
        align-items: center;
        position: relative;
        align-items: center;
   }
} 
.figure{
    width: 25vw;
}

@media screen and (min-width: 500px) and (max-width: 900px){
    .figure{
        width: 50vw;
    }
}

@media screen and (max-width: 500px){
    .figure{
        width: 75vw;
    }
}