.baseHIST{
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

    background-image: linear-gradient(rgb(109, 202, 202), white);
}

@media screen and (max-width: 700px){
    .baseHIST{
        height: 250vh;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .baseHIST{
        height: 120vh;
        flex-direction: column;
        align-items: center;
    }
}

.historia{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    width: 60%; 

    position: relative;
    left: 4%;
    top: 10%; 
    font-size: larger;
    font-family: Bradley Hand, cursive;
}

@media screen and (max-width: 1000px){
    .historia{
        top: 5%;
        left: 0%;
        width: 80%;
        text-align: center;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .historia{
        top: 7.5%;
    }
}

.quote{
    width: 75%;

    text-align: right;
    color:orangered;
}

.sideimages{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    right: 4%;
    top: 10%; 
}

@media screen and (max-width: 700px){
   .sideimages{
        width: 50%;   
        align-items: center;
        position: relative;
        left: 1.5%;
        align-items: center;
   }
} 

@media screen and (min-width: 700px) and (max-width: 1000px){
    .sideimages{
        width: 75%;  
        align-items: center;
        flex-direction: row;
        position: relative;
        left: 1%;
    }
}