.basePERFIL {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    rgb(109, 202, 202),
    white,
    rgb(109, 202, 202)
  );
}

.title {
  position: absolute;
  top: 100px;
  text-align: center;
}

.body {
  position: absolute;

}
