.basePERFIL {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(240, 194, 110),white);
}

.body {
  position: absolute; 
  background-color: rgba(256, 256, 256, 0.3);   /* Background do fundo do "card" */
  font-weight: bold;                            /* Deixa a fonte em negrito */
  border: 2px solid rgba(128, 128, 128, 0.2); /* Define a grossura da borda e a cor, o ultimo valor é o de opacidade */
  border-radius: 12px;                          /* Arredonda a borda */
}

.text{
  margin-left: 10px;                            /* Afasta o texto da margem esquerda */
}

.ImageLeft{

  width: 100%;
  align-content: right;

}